@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary: 350 67% 51%;
  --background: 234 41% 19%;
  --foreground: 240deg 13.33% 94.12%;

  color: hsl(var(--foreground));

  font-size: 16px;
}

/* ::-webkit-scrollbar {
  display: none;
} */
